header
	height: 100%
	width: 100%
	background:
		image: url('/images/bg_home.jpg')
		size: cover
	display: flex
	align-items: center
	justify-content: center
	nav
		width: 100%
		z-index: 10
		position: absolute
		top: 0
		left: 0
		background-color: $navbgcolor
		height: 100px
		@media screen and (max-width: 720px)
			height: auto
		#brand
			width: 100px
			float: left
			img
				width: 60%
				padding: 20%
			@media screen and (max-width: 720px)
				float: none
				width: 100%
				text-align: center
				img
					width: 55px
					padding: 5px
		ul
			width: calc(100% - 100px)
			float: right
			display: flex
			height: 100%
			align-items: center
			justify-content: flex-end
			li
				list-style-type: none
				padding: 0 1em
				a, a:hover, a:focus
					text-decoration: none
					color: $navlinknormalcolor
					// font to be changed
					font-family: $navfontfamily
					font-size: 1em
					display: block
				a:hover
					color: darken($navlinknormalcolor, 10%)
			li:first-child
				display: none
			@media screen and (max-width: 720px)
				position: fixed
				background: rgba(255,255,255, 0.9)
				float: none
				top: 0
				left: 0
				width: 100%
				height: 100%
				display: block
				li
					display: flex
					align-items: center
					justify-content: center
					height: 22%
					a, a:hover, a:focus
						color: #555
					a:hover
						color: lighten(#555, 25%)

				li:first-child
					display: block
					text-align: center
					height: 12%
					color: #333
					font-family: $navfontfamily
				.mobile-cross
					position: absolute
					color: #444
					top: 5px
					right: 4px
	.home-content
		h1
			color: #222
			// font to be changed
			font-family: 'roboto mono'
			text-transform: uppercase
			font-weight: bolder
.menu
	width: 100%
	span
		color: #fff
		padding-left: 5px
.mobilebar
	position: absolute
	right: 5px
// Mobile view menu icons
@media only screen and (max-width: 720px)
	.home i
		color: $green
	.about i
		color: $orange
	.work i
		color: $blue
	.contact i
		color: $turquoise
	.mobile-cross i
		color: $red