html
	head
		title Project Name
		link(rel="stylesheet", href="css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Mono", rel="stylesheet")
	body
		header
			nav
				#brand
					a(href="#")
						img(src="images/logo.png")
				ul
					li
						a(href="#") Home
					li
						a(href="#") About Us
					li
						a(href="#") Work
					li
						a(href="#") Hire Us
			.home-content
				h1 Code Better
				h1 Design Smarter!
		script(src="js/jquery.js")
		script(src="js/function.js")