html
	head
		title Des n' Dev
		link(rel="stylesheet", href="css/main.css")
	body
		header
			nav
				#brand
					a(href="#")
						img(src="/images/logo.png")
				ul
					li
						a(href="#") Home
					li
						a(href="#") About
					li
						a(href="#") Work
					li
						a(href="#") Get in Touch
			.home-content
				h1 Code Better
				h1 Design Smarter!
		script(src="js/jquery.js")
		script(src="js/function.js")