html
	head
		title Des n' Dev
		link(rel="stylesheet", href="css/main.css")
	body
		header
			nav
				#brand
					a(href="#")
						img(src="/images/logo.png")
				.mobile.menu
					span
						|Mobile
					span.mobilebar
						i.mobile.fa.fa-bars
				ul
					li.mobileview
						i.fa.fa-chevron-circle-down
						|&nbspMenu
						span.mobile-cross
							i.mobile.fa.fa-times-circle-o(aria-hidden="true")
					li.home
						a(href="#") 
							i.mobile.fa.fa-home
							|&nbspHome
					li.about
						a(href="#")
							i.mobile.fa.fa-info
							|&nbspHome
					li.work
						a(href="#")
							i.mobile.fa.fa-briefcase
							|&nbspWork
					li.contact
						a(href="#")
							i.mobile.fa.fa-envelope
							|&nbspGet in Touch
			.home-content
				h1 Code Better
				h1 Design Smarter!
		script(src="js/jquery.js")
		script(src="js/function.js")